body {
    margin: 0;
    padding: 0;
}

/* overall takes up the whole screen. It may be adjusted if a dynamic header or footer appears. */
.overall {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* must be auto so you can scroll */
    overflow: auto;
    /* Display: flex so that child content can expand and we can avoid seeing the always-white background color */
    display: flex;
    flex-direction: column;
}

/* topBar is used for navigation */
.topBar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 38px;
    background-color: whitesmoke;
}

/* sidebar expanded, wide screen */
/* main is where tasks operate */
.main {
    position: absolute;
    top: 38px;
    /*bottom: 30px;*/
    left: 0;
    /*right: 20%;*/
    right: 0;
    overflow: auto;
    background-color: white;
}
/* sidebar is where you get tools like Help, Chat, Report problems, etc. */
/* default styling is for big screens */
/*
Using this would be great but unfortunately it sometimes overrides the main.js code.
@media all and (max-width: 700px) {
    #polyappJSMain {
        /* identical to mainSmallHiddenSidebar
        display: block;
        position: absolute;
        top: 30px;
        bottom: 30px;
        left: 0;
        right: 0;
        overflow: auto;
    }
    #polyappJSSidebar {
        /* identical to sidebarSmallHiddenSidebar
        display: none;
    }
    #polyappJSExpandSidebarFooter {
        display: inline-block;
    }
    #polyappJSHideSidebarFooter {
        display: none;
    }
}
*/
/* sidebar expanded, wide screen */
.sidebar {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 80%;
    right: 0;
    background-color: rgb(192, 222, 255);
}
/* end sidebar expanded, wide screen */
/* sidebar contracted, wide screen */
.mainHiddenSidebar {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow: auto;
    /*height: 90vh;*/
    background-color: whitesmoke;
}

/* end sidebar contracted, wide screen */
/* sidebar expanded, small screen */
.mainSmallSidebarExpanded {
    display: none !important;
}
/* sidebar becomes the same as 'main' except it's hidden */
.sidebarSmallSidebarExpanded {
    display: block !important;
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow: auto;
    /*height: 90vh;*/
}
/* end sidebar expanded, small screen */
/* sidebar contracted, small screen */
.mainSmallHiddenSidebar {
    display: block !important;
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow: auto;
    /*height: 90vh;*/
}
.sidebarSmallHiddenSidebar {
    display: none !important;
}
/* end sidebar contracted, small screen */

.sidebarFooter {
    width: 20%;
    height: 30px;
    left: 80%;
    bottom: 0;
    position: absolute;
    background-color: rgb(192, 222, 255);
}

#polyappJSMain {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: visible;
}

/* bottomBar is a toolbar for main */
.bottomBar {
    position: absolute;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 20%;
    background-color: rgb(192, 222, 255);
}

#polyappJSToastContainer {
    z-index: 5;
}

.imgButtonLabel {
    margin: 0;
    padding: 3px;
    display: inline-block;
}

.formErrorUnderInput {
    height: 23px;
    overflow: hidden;
}

.errorHeader {
    background-color:rgb(232,87,77);
    padding:0;
    margin:0;
}

.polyappErrorContent {
    padding:2px;
    margin:0;
}

.polyappIFrame {
    width: 100%;
    height: 80vh;
    border: 2px solid black;
}

.polyappSummernotePlaceholder {
    width: 100%;
    height: 115px;
}

/* Designed to overlay the parent element 100% but not other elements */
.parentOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .25s ease;
    background-color: black;
}

.parentOverlay:hover {
    opacity: .75;
}

/* Designed to overlay a parent as little as possible starting from the bottom of the parent */
.parentOverlayPartial {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* background-color ensures this is a transparent overlay yet we can have it take up the whole size of the img */
    background-color: rgba(255, 0, 0, 0);
}

/* Works with parentOverlayPartial. Place this in a Div below parentOverlayPartial and above the content to use in the overlay */
.parentOverlayPartialMiddleman {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: .25s ease;
}

.parentOverlayPartial:hover > .parentOverlayPartialMiddleman {
    opacity: 1;
}

.loginOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 199199;
}

.autosaveSpinner {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
}

.spinnerOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 199188;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.autocompleteResultsWrapper {
    max-height: 200px;
    overflow: auto;
}

.giantOptionWrapper {
    width: 100%;
    text-align: center;
}
.giantOptionWrapper input[type="radio"] {
    display: none;
}
.giantOptionWrapper input[type="radio"]:checked + div {
    background-color: #17a2b8;
}
.giantOptionWrapper input[type="radio"]:checked + div label span {
    color: white;
}

.giantOption {
    width: 49%;
    height: 50vh;
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: .25rem;
    border: 1px solid transparent;
}

.giantOption label span {
    position: absolute;
    transition: all 300ms ease;
    font-size: 1.5em;
    color: #17a2b8;
    user-select: none;
    width: 100%
}

.giantOptionLabel {
    display: block;
    font-size: 2.5rem;
}

.large-bootstrap-select > .dropdown-menu {
    max-width: 100vw;
}

.large-bootstrap-select > .dropdown-menu > li a span.text {
    word-wrap: break-word;
    white-space: normal;
}

.btn[data-toggle="collapse"]:before{
    content:url(/assets/icons/expand_less-24px.svg);
    float: left;
    margin-right: 15px;
}
.btn[data-toggle="collapse"].collapsed:before {
    content:url(/assets/icons/expand_more-24px.svg);
}

.popover {
    white-space: pre-wrap;
}

/* Make the DataTable 95 vw */
.DataTable95vw {
    position: relative;
    left: calc(-1 * (95vw - 100%)/2);
    width: 95vw;
}

/* Stripe CSS */
.polyappStripeCardElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.polyappStripeCardElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.polyappStripeCardElement--invalid {
    border-color: #fa755a;
}

.polyappStripeCardElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/* utilities */
.displayNone {
    display: none;
}
.displayBlock {
    display: inline-block;
}

.adding {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 50ms ease;
}

.removing {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 50ms ease;
}

.centerElement {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.maxWidthHeight {
    width: 100%;
    height: 100%;
}

.grabbable {
    cursor: move;
    cursor: grab;
}

.grabbable:active {
    cursor: grabbing;
}

.pointer {
    cursor: pointer;
}

.cursorAuto {
    cursor: auto;
}

.bg-gray-1 {
    background-color: #f8f9fa!important;
}

.bg-gray-2 {
    background-color: #e9ecef!important;
}

.bg-gray-3 {
    background-color: #dee2e6!important;
}

.bg-gray-4 {
    background-color: #ced4da!important;
}

.bg-gray-5 {
    background-color: #adb5bd!important;
}

.bg-gray-6 {
    background-color: #868e96!important;
}

.bg-gray-7 {
    background-color: #495057!important;
}

.bg-gray-8 {
    background-color: #343a40!important;
}

.bg-gray-9 {
    background-color: #212529!important;
}

/* Top bar CSS */
@media only screen and (max-width: 700px) {
    .floatLeft * span {
        display: none;
    }
}

.floatLeft {
    float: left;
    height: 100%;
}

.floatRight {
    float:right;
    height: 100%;
}

/* */
