{{define "index"}}
<!doctype html>
<html lang="en">

<head>
    <title>{{if .Title}}{{.Title}}{{else}}Polyapp{{end}}</title>
    <meta name="Description" content="Polyapp can be used to create forms, enter information, and automate filling out forms.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/assets/giraffe192.jpg">
    <link rel="shortcut icon" href="/assets/giraffe192.jpg">
    <!-- matches theme_color in manifest.json -->
    <meta name="theme-color" content="#fdff85">
    <link rel="manifest" href="/manifest.json">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-reboot.min.css">

    <!-- every CSS file we own should exist here -->
    <link rel="stylesheet" href="/index.css">
    <link href="/summernote/summernote-bs4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="/main.js"></script>
    <script async src="https://use.fontawesome.com/e9ce45a312.js"></script>
</head>

<body id="polyappBody">

    <noscript>
        <header id="polyappNoscriptError" class="_fixed">
            <p>This website needs Javascript enabled to work properly.</p>
        </header>
    </noscript>

    <div class="spinnerOverlay" id="polyappJSSpinner">
        <div class="spinner"></div>
    </div>

    <div class="overall" id="polyappOverall">
        <div id="polyappJSToastContainer"></div>
        <nav class="topBar navbar-light bg-light" id="polyappTopBar">
            <!-- based on https://getbootstrap.com/docs/3.4/components/#navbar -->
            <span class="floatLeft">
                <a href="/" class="btn" aria-label="navigate home" id="polyappNavigateHome">
                    <img src="/assets/icons/home-24px.svg" width="24px" height="24px" alt="navigate home" class="d-inline-block align-top" />
                    <span>Polyapp</span>
                </a>
                <button class="btn" id="polyappJSNavigateChangeDomain">
                    <img src="/assets/icons/folder-24px.svg" width="24px" height="24px" alt="folder" class="d-inline-block align-top" />
                    <span>Change Domain</span>
                </button>
                <button href="/changeTask" class="btn" id="polyappJSNavigateChangeTask">
                    <img src="/assets/icons/work-24px.svg" width="24px" height="24px" alt="work" class="d-inline-block align-top" />
                    <span>Change Task</span>
                </button>
                <button href="/changeData" class="btn" id="polyappJSNavigateChangeData">
                    <img src="/assets/icons/insert_drive_file-24px.svg" width="24px" height="24px" alt="file" class="d-inline-block align-top" />
                    <span>Change Data</span>
                </button>
            </span>
            <div class="floatRight">
                <div class="d-inline-block" style="display:none!important;" id="polyappJSAutosaveSpinner">
                    <div class="d-inline-block" style="width:16px;height:4px;"><div class="autosaveSpinner"></div></div>
                    <span class="d-inline-block text-muted">saving</span>
                </div>
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="polyappJSSettingsDropdown">
                        <img src="/assets/icons/settings-20px.svg" width="24px" height="24px" alt="settings" class="d-inline-block align-top" />
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item pointer" id="polyappJSSignIn">Sign In</a>
                        <a class="dropdown-item pointer" id="polyappJSSignOut">Sign Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- The exact structure of the main tag is coupled to innerToAppShell() -->
        <main class="main" id="polyappJSMain">
        </main>
    </div>

    <script async src="/html5sortable/html5sortable.min.js"></script>

    <script defer src="/firebaseui/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="/firebaseui/firebaseui.css" />

    <script defer src="/jquery/jquery.min.js"></script>
    <script defer src="/bootstrap/bootstrap.bundle.min.js"></script>

    <script defer src="/bootstrap-select/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/bootstrap-select/css/bootstrap-select.min.css">

    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>

    <!-- datatables.net -->
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css"/>
    <script defer type="text/javascript" src="/DataTables/datatables.min.js"></script>

    <script defer type="text/javascript" src="/summernote/summernote-bs4.min.js"></script>

    </body>

</html>
{{end}}
